extends layout

block content
    div.container
        h1 Explore the projects
        //TODO: go for each while db installed
        //TODO: render small image of each homepage of projects
        p
        a(href='/project/whoru')(target='_blank')
            img(src='/img/projects/whoru/page1.png', width=160, height=120, title='whoru')
        p
        a(href='/project/hackairthon')(target='_blank')
            img(src='/img/projects/hackairthon/page1.png', width=160, height=120, title='hackairthon')
        p
        a(href='/project/analysis')(target='_blank')
            img(src='/img/projects/analysis/page1.png', width=160, height=120, title='analysis')
