extends layout

block content
    div.container
        h1 Explore the projects
        //TODO: go for each while db installed
        //TODO: render small image of each homepage of projects
        p
        a(href='/project/whoru')(target='_blank') whoru
        p
        a(href='/project/hackairthon')(target='_blank') hackairthon
